.body
{
    margin: 0px;
}
.head{
    text-decoration: none;
    margin-top: -0.25rem;
    padding-top: -3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: center; 
    column-gap: 1rem;
}
.h_1{

    display:flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    column-gap:2rem ; 
    justify-content: space-evenly;
    padding-right: 8rem;
    margin-left: -2rem;
}
.h_2{    
    text-decoration: none;
    padding-left: 3rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;
}
.h_element_cen
{
    display: flex;
    align-items: center;
    padding-left: 3px;
    justify-content: center;
}
.cir1
{
    margin-top: 1rem;
    margin-left: -5rem;
}
.logbutton
{
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 0.9rem;
    margin-left: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid rgb(0, 140, 255);
    background-color: azure;
    color: aqua;
}
.head2{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    background-color: rgb(238, 250, 247);
    padding-top: -5rem;
    align-items: center;
    justify-content: center;
    padding-bottom:9rem;
}
.sec_line{
    margin-top: -1rem;
}
.button
{
    border: none;
    display: flex;    
    color:rgb(239, 225, 199);
    background-color:rgb(41, 214, 214);
    padding-left:1rem;
    padding-right:1rem;
}
.freebutton
{
    
    display: flex;
    justify-content: center;
    
}
img
{
    margin-top:-5rem;
}
.image
{
    margin-top: -0.5rem;
    text-align: center;
}
.tb{
    margin-top: 1rem;
    text-align: center;
}
.ourcostomer
{
    margin-top: 3rem;
    font-size: xx-small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(0, 191, 255);
    padding-top: -1px;
}
.icons
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    column-gap: 1rem;    
}
.dell{
    margin-top:-2.3rem;
}
.after_sponcer
{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}
.num
{
    color: rgb(0, 153, 255);
}
.line{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;

}
.after1{
    display: flex;
}
li{
    display: inline-flex;
}
.left1{
    margin-top: -3rem;    
      
}
.ourpromise
{
    margin-top: 3rem;
    font-size: xx-small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 191, 255);
    padding-left: -15rem;
    justify-content: left;
    margin-bottom: -1rem;
}
.title{
    display: flex;
    margin-bottom: -1.5rem;
    gap:3px;
}
.part1
{    
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.part3
{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 250, 247);
}
.part2
{
    margin-top: -1.5rem;
}
.right1
{
    margin-top: 5rem;
    margin-left: 5rem;
}
.ouraward
{
    margin-top: 5rem;
    font-size: xx-small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(0, 191, 255);
    padding-top: -1px;
}
.award{
    margin-top: 1rem;
    text-align: center;
}
.grid
{
    display: grid;
    margin-top: 8rem;
    grid-template-columns: repeat(3,1fr);
    column-gap:0px;
    row-gap:7rem;
    text-align: center;
    margin-left: 13rem;
    justify-content: space-evenly;
    position:static;
    
}
.i3
{
    margin-left: -12rem;
}
.i4
{
    margin-left: -24rem;
}
body{
    padding-bottom: 3rem;
}
.end
{
    color: bisque;
    padding-top: -0.5rem;
    margin-top: 0rem;
    text-align: center;
    margin-bottom: -3.5rem;
}
.build
{
    margin-top: 3rem;
    font-size: xx-small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(0, 191, 255);
    padding-top: -1px;
}
.easy
{
    text-align: center;
}
.create
{
    margin-top: 4rem;
    margin-bottom: -2rem;
}
.contents
{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    column-gap: 9.5rem;
    margin-bottom: 2rem;
}
.c
{
    padding-left:3rem;
    padding-right:3.5rem;
    padding-bottom:0.7rem;
    justify-content: center;
    border: 5px solid;
    display: flex;
    color: rgb(0, 217, 255);
    border-top: none;
    border-right: none;
    border-left: none;
}
.c1
{
    display: flex;
    color: rgb(198, 199, 194);
}
.c_icon
{
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}
.c_icon1
{
    margin-top: 0.5rem;
    margin-right: 0.3rem;
}
.button2
{
    border: none;    
    color:rgb(255, 254, 252);
    background-color:rgb(41, 214, 214);
}
.Schedule
{
    color: rgb(0, 183, 255);
    margin-left:2rem; 
    background-color: white;
    border-color: rgb(0, 204, 255);
}
.bottom1
{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
}
.context
{
    align-items:center;
}
.bottombutton1
{
    border: none;
    display: flex;    
    color:rgb(239, 225, 199);
    background-color:rgb(41, 214, 214);
    padding-left:1rem;
    padding-right:1rem;
}
.bottombutton2
{
    margin-top: 2rem;
    border: none;
    display: flex;    
    color:rgb(239, 225, 199);
    background-color:rgb(41, 214, 214);
    padding-left:1rem;
    padding-right:1rem;
}
.bottom2{
    display: flex;
    margin-top: 4rem;
    justify-content: space-evenly;
    background-color: rgb(39, 38, 38);
    padding-top: 3rem;
}
.heading
{
    color: white;
}
.listings
{
    color: rgb(155, 155, 155);
}
.whiteline
{
    margin-left: 5rem;
    margin-right: 5rem;
}
.bottomline
{
    margin-bottom: -4.5rem;
    color: rgb(32, 32, 32);
    padding-bottom: 3rem;
    background-color: rgb(39, 38, 38);
}
.map
{
    margin-top: 10rem;
}
.fo {
    margin-top: -1rem;
    margin-bottom: -3rem;
    padding-bottom: -15rem;
    display: flex;
    padding-top: -3.5rem;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: rgb(39, 38, 38);
    text-align: center;
    justify-content: space-evenly;
    justify-content: center;
}

.w9 {
    margin-left: 100px;
    margin-top: 35px;
    color: rgb(184, 184, 184);
    font-size: 13px;
}

.as {
    width: 20px;
    height: 20px;
    margin-top: 35px;
    margin-left: 250px;
    margin-right: 2px;
}

.ad {
    width: 20px;
    height: 20px;
    margin-top: 35px;
    margin-left: 3px;
    margin-right: 2px;
}

.zm {
    margin-left: 215px;
    margin-top: 35px;
    color: rgb(184, 184, 184);
    font-size: 13px;
}
.end{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 3.7rem;
    color: rgb(8, 8, 8);
}